<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Item List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav>
            <li><a href="{% url 'Item_new_view' %}">Add item</a></li>
        </nav>
        <h2>Item List</h2>
        <div class="details">
        <ul>
        {% for item in items %}
        <li><a href="{% url 'Item_detail_view' pk=item.pk %}">{{ item.item_code }} - {{ item.item_name }}</a></li>
        {% endfor %}
        </ul>
        </div>
        <script src="" async defer></script>
    </body>
</html>